
.wrapper {
    /*background-color: #535bf2;*/
    padding: 15px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    gap: 15px;
    height: 200px;
    width: 300px;
    overflow: auto;
    border-radius: 0 0 10px 10px;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.header{
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 50px;
    /*background-color:#298000;*/
    color: white;
    font-size: 25px;
    text-align: center;
}

.item {
    background-color: white;
    color: #242424;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #717171;
}

